
   
# This is a basic workflow to help you get started with Actions

name: pytest

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v1
        with:
          python-version: 3.8.12
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pandas sklearn fastapi requests
          
      - name: go to correcponding folder
        run: cd starter/data/
         
      - name: DVC setup
        uses: iterative/setup-dvc@v1
      
      - name: When to run DVC
        run: dvc pull -r tgdeploy
      
      - name: Run tests with pytest
        run: pytest 
